/* ============================================================================
   Keyframes
   ============================================================================ */

@keyframes indeterminate {
  0% {
    left: -33%;
  }
  100% {
    left: 100%;
  }
}

/* ============================================================================
   Smooth Scroll
   ============================================================================ */

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

/* ============================================================================
   Browser Overrides
   ============================================================================ */

input[type='password']::-ms-reveal {
  display: none;
}
